OPENAI_API_KEY=key

ADT_BASE_HOST=https://sap.url

WORKFLOW_API_HOST=127.0.0.1
WORKFLOW_API_PORT=8788

WORKFLOW_WEB_HOST=127.0.0.1
WORKFLOW_WEB_PORT=5173

WORKFLOW_BROWSER_CDP_HOST=127.0.0.1
WORKFLOW_BROWSER_CDP_PORT=9222
